<nav class="navbar navbar-expand-sm navbar-dark bg-danger text-white">

    <div class="container bg-danger">

        <a class="navbar-brand text-white" href="/">Superhero Reports</a>

        <ul class="navbar-nav text-white ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'hero_list' %}">Superheros</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'photo_list' %}">Photos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'article_list' %}">Article List</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'message_list' %}">Messages</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'article_add' %}">Write Article</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'logout' %}">Hello {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'logout' %}">Log out</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'login' %}">Log In</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user_add' %}">Sign Up</a>
            </li>

            {% endif %}

        </ul>

    </div>

</nav>