{% extends 'superhero_theme.html' %}

{% block content %}
<h1>{{ hero_name|title }}</h1>
<br>
<hr>

<img src="{{ photo_url }}" alt="{{ hero_name }}" height="300">
<br><hr><br><br>

<br>
<h2>Bio</h2><br>
<p>{{ bio }}</p>
<br>

<br>
<h2>Strengths</h2><br>
{% for iter, strength in strengths.items %}
    <p>{{ iter }}.) {{ strength }}</p>
{% endfor %}
<br>

<br>
<h2>Weaknesses</h2><br>
{% for iter, weakness in weaknesses.items %}
    <p>{{ iter }}.) {{ weakness }}</p>
{% endfor %}
<br>

<br><br><hr>
<a href="../">Back to Heroes List</a>
{% endblock content %}